<div ng-app="Category">
  <h1>All Categories</h1>

  <div ng-controller="CategoryCtrl">
    <form ng-submit="addCategory()">
      <input type="text" ng-model="newCategory.name">
      <input type="submit" value="Add New Category">
    </form>

    <hr/>
    <table class="categories">
      <tbody>
        <tr ng-repeat="category in categories">
          <td>
            {{category.name}}
            <a ng-click="removeCategory(category)"><button>Delete</button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
